    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>文章列表
        </div>
        <div class="pannel">
            <span class="sel_label">请选择文章分类：</span>
            <select name="select" id="select" class="sel_opt">
                <option selected="true" value="">所有</option>
                {{range $i,$elem := .articleTypes}}
                {{if $.articleTypeId}}
                    {{if eq $.articleTypeId  $elem.Id}}
                       <option value="{{$elem.Id}}" selected="true">{{$elem.Type}}</option>
                    {{else}}
                       <option value="{{$elem.Id}}">{{$elem.Type}}</option>
                    {{end}}
                 {{end}} 
             {{end}}
            </select>

            <table class="common_table">
                <tr>
                    <th width="43%">文章标题</th>
                    <th width="10%">文章内容</th>
                    <th width="16%">添加时间</th>
                    <th width="7%">阅读量</th>
                    <th width="7%">删除</th>
                    <th width="7%">编辑</th>
                    <th width="10%">文章类型</th>
                </tr>

                {{ range .articles}}    
                <tr>
                    <td>{{.Title}}</td>
                    <td><a href="/article/view?id={{.Id}}">查看详情</a></td>
                    <td>{{.Time.Format "2006-01-02 15:03:04"}}</td>
                    <td>{{.Count}}</td>
                    <td><a href="/article/del?id={{.Id}}" class="dels">删除</a></td>
                    <td><a href="/article/edit?id={{.Id}}">编辑</a></td>
                    <td>{{.ArticleType.Type}}</td>
                </tr>
                {{end}}
            </table>

            <ul class="pagenation">
                <li><a href="/index?index=0&articleType={{.articleTypeId}}">首页</a></li>
                <li><a href="/index?index={{.index|pre}}&articleType={{.articleTypeId}}">上一页 </a> </li>
                <li> <a href="/index?index={{next .index .pageCount}}&articleType={{.articleTypeId}}">下一页</a></li>
                <li><a href="/index?index={{.pageCount}}&articleType={{.articleTypeId}}">末页</a></li>
                <li>共{{.count}}条记录/共{{.pageCount}}页/当前{{.index}}页</li>
            </ul>
        </div>
    </div>

